@import "../../shared/variables";

.container__home {
  height: 100dvh;
  background-color: $primary-color;

  display: grid;
  place-items: center;

  h1 {
    color: #fff;
    font-size: 30px;
  }
}
