@import "../../shared/variables";

.container__header {
  background-color: $primary-color;
  color: $primary-text-color;

  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
  padding: 1rem 2rem;
  height: 6.25rem;

  h1 {
    font-size: 28px;
  }

  span {
    font-size: 0.75rem;
  }
}
