.container__bus-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0rem 1rem;
  margin-top: -2rem;
}

.spacing {
  padding: 40px;
}
