@import "../../shared/variables";

.container__footer {
  background-color: $primary-color;
  color: $primary-text-color;
  text-align: center;
  padding: 1rem 0;

  font-size: 0.75rem;

  a {
    all: unset;
    color: #b55c5c;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
}
